@font-face {
    font-family: negative-semibold;
    src: url(../fonts/signika.negative-semibold.ttf);
}
@font-face {
    font-family: negative-light;
    src: url(../fonts/signika.negative-light.ttf);
}
.navbar {
    padding-top: 2px;
    padding-bottom: 20px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 2px;
    background: #fff;
    font-weight: 900;
    font-family: sans-serif;
}
.navbar .purple-line{
  width: 2px;
  height: 18px;
  background-color: #433c9e;
  float: right;
  position: absolute;
  right: 0;
  top: 16px;
}
.navbar-nav  li a {
    color: #5b5b5b !important;
}
.navbar-nav  li a:hover {
    color: #000 !important;
}
.navbar-header{
  min-height: 70px;
}
.logo{
  min-height: 60px;
  max-width: 180px;
}
#myNavbar{
  margin-top: 15px;
}
.purpleLine{
  background: #5A51AB;
  height: 4px;
  width: 90px;
  margin: auto;
  margin-bottom: 24px;
  margin-top: 24px;
}
.whiteLine{
  background: #fff;
  height: 4px;
  width: 90px;
  margin: auto;
  margin-bottom: 24px;
  margin-top: 24px;
  display: inline-block;
}
.purple-button{
  font-family: negative-semibold;
  background: #39519e;
  color: #fff!important;
  font-size: 2.2em;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 30px 0px;
  display: inline-block;
}
.purple-button:hover{
  text-decoration: none;
  opacity: .8;
}
.dark-button{
  font-family: negative-semibold;
  background: #252525;
  color: #fff!important;
  font-size: 2.2em;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 30px 0px;
  display: inline-block;
}
.dark-button:hover{
  text-decoration: none;
  opacity: .8;
}

/* Landing page design */
header.more-business{
  position: relative;
  background-color: #000000;
  background: url("../images/more-business.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1;
}
header.more-business p{
  font-size: 1.3em;
  color: #3A3A3A;
  padding: 5px;
}
header.more-business .heading{
  font-family: negative-semibold;
  font-size:3.8em;
}
header.keepup{
  position: relative;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1;
}
header.keepup .heading{
  font-family: negative-semibold;
  font-size:2.8em;
  margin: 0;
  width: 94%;
  color: #585858;
}
header.keepup .infotxt{
  font-size: 1.5em;
  color: #252525;
  margin-left: 14px;
}
header.keepup .purple-line{
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #39519e;
  float: right;
  position: absolute;
  right: 0;
}
header.keepup .purpletik{
  color: #39519e;
  margin-right: 4px;
}

header.partnership{
  position: relative;
  background: url(../images/partnership-ipad.png) no-repeat right;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #384f9b;
  min-height: 775px;
}
header.partnership .heading{
  font-family: negative-semibold;
  color: #fff;
  font-size:2.8em;
  margin: 0;
  width: 94%;
}
header.partnership p{
  color: #fff;
  font-size:1.2em;
  width: 94%;
  margin-bottom: 16px;
}
header.we-provide{
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #d7d7d7;
  min-height: 200px;
  z-index: 1;
}
header.we-provide .heading{
  font-family: negative-light;
  font-size: 2.1em;
  margin: 0;
  margin-bottom: 40px;
}
header.we-provide .service-box{
  background-color: #fff;
  padding: 18px;
  min-height: 274px;
  border-bottom: 4px solid #39519e;
  margin: auto;
  margin-bottom: 26px;
}
header.we-provide .service-box img{
  max-width: 80%;
}
header.we-provide .service-box p{
  color: #454545;
  font-size: 1.3em;
  margin-top: 18px;
  margin-bottom: 0;
}

header.your-success{
  position: relative;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1;
}
header.your-success .heading{
  font-family: negative-semibold;
  font-size:2.8em;
  margin: 0;
  color: #252525;
}
header.your-success p{
  font-size: 1.4em;
  color: #5b5b5b;
}
header.meeting-background{
  position: relative;
  background-color: #000000;
  background: url("../images/meeting-background.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1;
}
header.meeting-background .infoBox{
  background-color: #000000b5;
  border-bottom: 8px solid #39519e;
  padding: 28px;
  color: #fff;
}
header.meeting-background .infoBox .heading{
  font-family: negative-semibold;
  font-size: 3.6em;
  border-left: 4px solid #39519e;
  padding-left: 20px;
  margin-top: 38px;
}
header.meeting-background .infoBox p{
  font-size: 1.3em;
  margin-top: 18px;
}

/* Landing page footer*/
.landing-footer{
  background-color: #000;
  color: #fff;
  font-size: .9em;
  line-height: 1.4em;
  padding-top: 28px;
  padding-bottom: 20px;
}
.landing-footer .outer-box{
  display: block;
  width: 90%;
  margin: auto;
  min-height: 55px;
}
.landing-footer .purple-line{
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #39519e;
  float: right;
  position: absolute;
  right: 0;
}

header.do_lunch{
  position: relative;
  background-color: #000000;
  background: url("../images/lunch-banner.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1;
}
header.do_lunch .book_lunch_box{
  background-color: #000000b5;
  border-bottom: 8px solid #39519e;
  padding: 28px;
  color: #fff;
}
header.do_lunch .book_lunch_box .heading{
  font-family: negative-semibold;
  font-size: 3.6em;
  padding-bottom: 20px;
  margin-top: 38px;
}
header.do_lunch .book_lunch_box .blueLine{
  background-color: #39519e;
  width: 44%;
  height: 4px;
  display: block;
  margin-bottom: 10px;
}
header.do_lunch .book_lunch_box p{
  font-size: 1.3em;
  margin-top: 18px;
}
header.fully_interactive .purpletik{
  color: #39519e;
  padding: 5px;
  background-color: #ebebeb;
  border-radius: 30px;
}
header.fully_interactive{
  position: relative;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1;
}
header.fully_interactive .heading{
  font-family: negative-semibold;
  font-size:1.8em;
  margin: 0;
  width: 94%;
  color: #585858;
}
header.fully_interactive .infotxt{
  font-size: 1.4em;
  font-family: negative-light;
  color: #252525;
}
header.fully_interactive .purple-line{
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #39519e;
  float: right;
  position: absolute;
  right: 0;
}
header.lunchSection {
    min-height: 100px;
    background: #3a519d;
}
header.lunchSection .lunchimgSection img{
  max-width: 100%;
}
.lunch-text {
    margin-top: 60px;
    font-size: 1.4em;
    font-family: negative-light;
    color:white;
}
header.upcomingSection {
  padding: 74px;
}
header.upcomingSection .heading{
  font-family: negative-semibold;
  font-size:1.9em;
  margin: 0;
  margin-left: 14px;
  width: 94%;
}
.blue-heading{
  font-family: negative-semibold;
  color: #39519e;
  font-size:4em;
  line-height: 1!important;
  margin: 0;
  width: 94%;
  margin-bottom: 40px;
}
.calender_icon {
    background: url(../images/calender.png) no-repeat center center;
    /* background-size: 100%; */
    width: 50px;
    height: 50px;
}
header.upcomingSection .round-corners{
  border:solid;
  background-color: #ebebeb;
  border-radius: 30px;
  border-width: 30px;
  border-color: #ebebeb;
}
header.upcomingSection .innerdiv{
  border:solid;
  background-color: white;
  border-radius: 30px;
  border-color: #ebebeb;
  padding: 30px;
}
header.upcomingSection .infotxt{
  font-size: 1.6em;
  font-family: negative-semibold;
  color: #252525;
  margin-left: 32px;
}
header.upcomingSection .upcoming-text{
  font-size: 1.8em;
  margin-top: 30px;
  font-family: negative-light;
  color: #252525;
  margin-left: 14px;
  line-height: 1.1!important;
}
header.upcomingSection .purple-line{
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #39519e;
  float: right;
  position: absolute;
  right: 0;
}

/* whistler local marketing quiz/ */
header.whistler{
  position: relative;
  background-color: #000000;
  background: url("../images/whistler-local-marketing.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1;
}
header.whistler .book_lunch_box{
  background-color: #000000b5;
  border-bottom: 8px solid #39519e;
  padding: 28px;
  color: #fff;
}
header.whistler .book_lunch_box .heading{
  font-family: negative-semibold;
  font-size: 3.6em;
  padding-bottom: 20px;
  margin-top: 38px;
}
header.whistler_ski{
  position: relative;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1;
}
header.whistler_ski .whistler_content{
  width: 94%;
  margin: auto;
}
header.whistler_ski .whistler_content .purpletik{
  color: #39519e;
  padding: 5px;
  background-color: #ebebeb;
  border-radius: 30px;
}
header.whistler_ski .whistler_content .infotxt{
  font-size: 1.3em;
  font-family: negative-light;
  color: #252525;
  margin-bottom: 26px;
}
header.whistler_ski .whistler_content .purple-line{
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #39519e;
  float: right;
  position: absolute;
  right: 0;
}
header.quickQuizSection {
  min-height: 100px;
  background: #3a519d;
  padding-bottom: 20px;
}
header.quickQuizSection .heading{
  font-family: negative-semibold;
  font-size: 2.7em;
  padding-bottom: 20px;
  margin-top: 38px;
  color: #fff;
  text-align: center;
}
header.quickQuizSection .white-box{
  margin: auto;
  background: #fff;
  min-height: 340px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 94%;
}
header.quickQuizSection p{
  font-family: negative-light;
  font-size: 1.8em;
  color: #fff;
  text-align: center;
}

header.getInShapeSection{
  min-height: 100px;
  background: #EAEAEA;
}
header.getInShapeSection .getInShapeBox{
  min-height: 100px;
  background: #fff;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 94%;
}
header.getInShapeSection .getInShapeBox .infoSection{
  padding: 56px;
}
header.getInShapeSection .getInShapeBox .infoSection p{
  color: #555;
  font-size: 1.2em;
  padding: 5px
}
header.getInShapeSection .getInShapeBox .infoSection .shape-button{
  font-family: negative-light;
  background: #39519e;
  color: #fff!important;
  font-size: 1.8em;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 40px 0px;
  display: inline-block;
}
header.getInShapeSection .getInShapeBox .infoSection .shape-button:hover{
  text-decoration: none;
  opacity: .8;
}

@media (max-width: 767px) {
  header.partnership{
    background:none;
    background-color: #384f9b;
  }
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
  .navbar .purple-line{display: none;}
  header.keepup .purple-line{display: none;}
  .landing-footer .purple-line{display: none;}
  .purple-button{font-size: 2em;}
  .dark-button{font-size: 2em;}
  header.meeting-background .infoBox{padding: 18px;}
  header.upcomingSection {padding: 10px;}
  header.upcomingSection .purple-line{display: none;}
  header.upcomingSection .blue-heading{font-size: 3em;margin-bottom: 24px;}
  header.upcomingSection .heading{margin: auto;width: 100%;font-size: 1.8em;}
  header.upcomingSection .infotxt{margin: 0px;width: 100%;margin-bottom: 10px;font-size: 1.5em;}
  header.upcomingSection .upcoming-text{margin: auto;margin-top: 20px;}
  .landing-footer .outer-box{margin: auto;}
  header.fully_interactive .purpletik{display: none;}
  header.do_lunch .purple-button{font-size: 1.6em;}
  header.upcomingSection .innerdiv{padding: 5px;}
  header.upcomingSection .round-corners{border-radius: 18px;border-width:18px;}
  header.upcomingSection .innerdiv{border-radius: 18px;border-color: #ebebeb;padding: 12px;}
  header.upcomingSection .infotxt{margin-left: -15px;}
  header.lunchSection .lunchimgSection{margin-left: -15px;margin-right: -15px;}
  .clenderBox{padding-bottom: 26px;}
  header.upcomingSection .clenderBox .infotxt{margin-left: 16px;}
  header.getInShapeSection .getInShapeBox img{max-width: 100%;}
  header.whistler_ski .whistler_content .purpletik{display: none;}
  header.getInShapeSection .getInShapeBox .infoSection{padding: 10px;}
  header.whistler .book_lunch_box .heading{font-size: 3.2em;}
}
.clenderBox{
  width: 154px;
  /*margin:auto;*/
  position: relative;
  padding-bottom: 1px;
}
.clenderBox p{
  position: absolute;
  top: 9px;
  left: 37px;
}
header.upcomingSection .innerdiv .info{
  font-size: 1.2em;
  /*margin-top: 10px;*/
  padding: 10px;
}