@font-face {
    font-family: negative-Light;
    src: url(../fonts/SignikaNegative-Light.ttf);
}
@font-face {
    font-family: negative-Regular;
    src: url(../fonts/SignikaNegative-Regular.ttf);
}
@font-face {
    font-family: negative-Semibold;
    src: url(../fonts/SignikaNegative-Semibold.ttf);
}
@font-face {
    font-family: negative-Bold;
    src: url(../fonts/SignikaNegative-Bold.ttf);
}
body{
  font-family: negative-Regular;
}
.navbar {
  padding-top: 2px;
  padding-bottom: 20px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  letter-spacing: 2px;
  background: #fff;
  font-weight: 900;
  font-family: negative-Light;
}
.navbar .green-line{
  width: 2px;
  height: 18px;
  background-color: #a3cc48;
  float: right;
  position: absolute;
  right: 0;
  top: 16px;
}
.navbar-nav  li a {
    color: #616161 !important;
}
.navbar-nav  li a:hover {
    color: #000 !important;
}
.navbar-header{
  min-height: 70px;
}
.logo{
  min-height: 56px;
  max-width: 144px;
}
#myNavbar{
  margin-top: 15px;
}
.row{
  margin:0px;
}
header.reviews-section-container{
  width: 100%;
  background-color: #ebebeb;
  padding: 10px;
}
header.reviews-section-container .reviews-section{
  width: 98%;
  margin: auto;
  background-color: #fff;
  min-height: 200px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 34px;
  box-shadow: 0px 0px 5px 1px #cacaca;
}
header.reviews-section-container .reviews-section p{
  font-size: 1.2em;
  color: #616161;
  font-family: negative-Regular;
}
header.reviews-section-container .reviews-section .review-header{
  padding: 4px;
  padding-bottom: 26px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
header.reviews-section-container .reviews-section .review-header .user-img{
  border-radius: 50%;
}
header.reviews-section-container .reviews-section .review-header h1{
  font-family: negative-Semibold;
  color: #99cc33;
  font-size: 2em;
  margin-bottom: 4px;
}
header.reviews-section-container .reviews-section .review-header h2{
  font-family: negative-Light;
  color: #585858;
  font-size: 2em;
  margin: 0;
}
header.reviews-section-container .reviews-section .review-header .user-company-logo{
  margin: 4px;
  float: right;
  margin-top: 20px;
}
.whiteLine{
  background: #fff;
  height: 4px;
  width: 90px;
  margin: auto;
  margin-bottom: 24px;
  margin-top: 24px;
  display: inline-block;
}
.green-button{
  font-family: negative-Light;
  background: #a3cc48;
  color: #fff!important;
  font-size: 1.6em;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 30px 0px;
  display: inline-block;
}
.green-button:hover{
  text-decoration: none;
  opacity: .8;
}
/* Landing page design */
header.meeting-background{
  position: relative;
  background-color: #000000;
  background: url("../images/review-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;  
  min-height: 500px;
  z-index: 1;
}
header.meeting-background .infoBox{
  background-color: #000000b5;
  padding: 18px 40px;
  color: #fff;
}
header.meeting-background .infoBox .heading{
  font-family: negative-Semibold;
  font-size: 3.6em;
  border-left: 4px solid #a3cc48;
  padding-left: 20px;
  margin-top: 38px;
}
header.meeting-background .infoBox p{
  font-size: 1.3em;
  margin-top: 18px;
}

/* Landing page footer*/
.landing-footer{
  background-color: #000;
  color: #fff;
  font-size: .9em;
  line-height: 1.4em;
  padding-top: 28px;
  padding-bottom: 20px;
}
.landing-footer .outer-box{
  display: block;
  width: 90%;
  margin: auto;
  min-height: 55px;
}
.landing-footer .green-line{
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #a3cc48;
  float: right;
  position: absolute;
  right: 0;
}
@media (max-width: 767px) {
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
  .navbar .green-line{display: none;}
  header.keepup .green-line{display: none;}
  .landing-footer .green-line{display: none;}
  .green-button{font-size: 2em;}
  .dark-button{font-size: 2em;}
  .header.meeting-background{min-height: auto;}
  header.meeting-background .infoBox{padding: 18px;}
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left: 12px;
  }
  header.reviews-section-container .reviews-section .review-header .user-company-logo{float: left;}
}